<div class="head-home">
    <app-menu [color]="'white-text'" [indicator]="'white'" [home]="true"></app-menu>
    <img src="../../../assets/images/logo.png" class="logo-home">
    <div class="f-principal white-text">
        <br>
        <p class="line-1 anim-typewriter">
            <span class="feel">FEEL</span>
            <span class="think">THINK</span>
        </p>
    </div>
</div>
<div class="padd-50 warm">
    <h1>hi, i’m aranza</h1>
    <p>Hi! I’m a UX designer based in Buenos Aires. Originally from Venezuela. I specialize in UI/UX design and have a passion for empathy towards solving user goals.</p>
</div>
<div class="padd-50">
    <div class="hue">
        <h1>clients</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit non urna nec maximus. Integer nisl turpis, placerat at lobortis ut, estibulum eget.</p>
    </div>
    <div class="accent">
        <h1>areas</h1>
        Hi! I’m a UX designer based in Buenos Aires. Originally from Venezuela. I specialize in UI/UX design and have a passion for empathy towards solving user goals.
    </div>
</div>
<div class="padd-50">
    <div class="hue">
        <h1>my work</h1>
    </div>
</div>
<div class="padd-50 primary">
    <div class="center">
        <h1 class="white-text">know some more</h1>
    </div>
</div>
