.message-ico {
    background-image: url('../assets/images/home1.png');
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    @media (max-width: 600px) {
        margin-left: 51px;
        margin-top: -40px;
        position: absolute;
    }
}