@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@font-face{
    font-family: 'Orator Std Medium';
    src: url('../assets/fonts/Orator-Std-Medium.ttf');
}
body {
    margin: 0;
    padding: 0;
    outline: none !important;
}