// BACKGROUNDS

.primary {
    background: $primary !important;
}
.secundary {
    background: $secundary !important;
}
.accent {
    background: $accent !important;
}
.warm {
    background: $warm !important;
}
.hue {
    background: $hue !important;
}
.white {
    background: $white !important;
}
.black {
    background: $black !important;
}
.x-light-grey {
    background: $x-light-grey !important;
}
.light-grey {
    background: $light-grey !important;
}
.dark-grey {
    background: $dark-grey !important;
}
.transparent {
    background: $transparent !important;
}

// COLORS
.primary-text {
    color: $primary !important;
}
.secundary-text {
    color: $secundary !important;
}
.accent-text {
    color: $accent !important;
}
.warm-text {
    color: $warm !important;
}
.hue-text {
    color: $hue !important;
}
.white-text {
    color: $white !important;
}
.black-text {
    color: $black !important;
}
.grey-text {
    color: $dark-grey !important;
}
.light-grey-text {
    color: $light-grey !important;
}
.dark-grey-text {
    color: $dark-grey !important;
}