.f-principal {
    font-family: $principal-font;
}
.f-secondary {
    font-family: $secundary-font;
}
.f-small {
    font-size: 12px;
}
.f-medium {
    font-size: 20px;
}
h1, h2, h3, h4, h5, h5 {
    font-family: $principal-font;
}
.center {
    text-align: center;
}