//FONTS
$principal-font: 'Orator StdMedium';
$secundary-font: 'Noto Sans';

//COLORS
$primary: #221A2D;
$secundary: #DF6365;
$accent: #71B9DA;
$warm: #FFC67F;
$hue: #EFE5D2;
$light-grey: #f3f3f3;
$dark-grey: #6D6D6D;
$white: #fff;
$black: #000;